@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-method="post" asp-action="result">
    <p>First name</p>
    <input type="text" name="firstname" />
    <p>Last name</p>
    <input type="text" name="lastname" />
    <p>Email</p>
    <input type="email" name="email"/>
    <p>Password</p>
    <input type="password" name="password"/>


    <input type="submit" />
</form>